/*
 * Text
 */

h1 {
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin: .67em 0;
}

h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: .75em 0;
}

h3 {
	display: block;
	font-size: 1.17em;
	font-weight: bold;
	margin: .83em 0;
}

h4 {
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin: 1.12 0;
}

h5 {
	display: block;
	font-size: 0.83em;
	font-weight: bold;
	margin: 1.5em 0;
}

h6 {
	display: block;
	font-size: 0.75em;
	font-weight: bold;
	margin: 1.17em 0;
}

p {
	margin: 1em 0;
}

a {

}

a:hover,
a:active {

}

a img {

}

a img:hover {

}
